<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="li">

<head >
  <title>DealDevice-Mua thiệt bị trực tuyến giá rẻ nhất</title>
  <meta name="description"
        content="Mua sách online hay, giá tốt nhất, combo sách hot bán chạy, giảm giá cực khủng cùng với những ưu đãi như miễn phí giao hàng, quà tặng miễn phí, đổi trả nhanh chóng. Đa dạng sản phẩm, đáp ứng mọi nhu cầu.">
  <meta name="keywords" content="nhà sách online, mua sách hay, sách hot, sách bán chạy, sách giảm giá nhiều">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" th:href="@{/public/css/gio-hang.css}">
  <script type="text/javascript" th:src="@{/public/js/main.js}"></script>
  <link rel="stylesheet" th:href="@{/public/fontawesome_free_5.13.0/css/all.css}">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

  <link rel="stylesheet" type="text/css" th:href="@{/public/slick/slick.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/public/slick/slick-theme.css}"/>
  <script type="text/javascript" th:src="@{/public/slick/slick.min.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script type="text/javascript"
          src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <link rel="canonical" href="http://dealbook.xyz/">
  <meta name="google-site-verification" content="urDZLDaX8wQZ_-x8ztGIyHqwUQh2KRHvH9FhfoGtiEw" />
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/public/favicon_io/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/public/favicon_io/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/public/favicon_io/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/public/favicon_io/site.webmanifest}">
  <style>img[alt="www.000webhost.com"]{display: none;}</style>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function changeNumber(id){
      var nameId = 'numberCart'+id;
      var giamoiId = "giamoi"+id;
      var giacuId = "giacu"+id;
      const quantity = document.getElementById(nameId).value;
      const giamoi = document.getElementById(giamoiId);
      const giacu = document.getElementById(giacuId);
      $.ajax({
        url: "/public/cart/update-number",
        type:"post",
        data:{
          productId:id,
          quantity:quantity
        },
        success: function(data){
          giamoi.innerHTML = data.giaMoi;
          giacu.innerHTML = data.giaCu;
          const tamtinh = document.getElementById("tamtinh");
          const tongtien = document.getElementById("tongtien");
          tamtinh.innerHTML = data.total;
          tongtien.innerHTML = data.total + 30000;
        }
      });
    }
    function login(){
      var password = $('#password1').val();
      var email = $('#email1').val();
      if (password == ''  || email == '' ){
        swal({
          title: 'Cần điền đầy đủ thông tin!',
          /* text: 'Redirecting...', */
          icon: 'error',
          timer: 3000,
          buttons: true,
          type: 'error'
        })
      } else {

        var formData = new FormData();
        formData.append('password', password);
        formData.append('email', email);
        $.ajax(
                {
                  type: 'POST',
                  url: '/public/user/login/',
                  contentType: false,
                  processData: false,
                  data: formData,
                  success: function (data) {
                    if(data == "false_user"){
                      swal({
                        title: 'Thông tin tài khoản không chính xác!',
                        /* text: 'Redirecting...', */
                        icon: 'error',
                        timer: 3000,
                        buttons: true,
                        type: 'error'
                      })
                    }else if(data == "true"){
                      swal({
                        title: 'Đăng nhập thành công !',
                        /* text: 'Redirecting...', */
                        icon: 'success',
                        timer: 3000,
                        buttons: true,
                        type: 'success'
                      })
                      setInterval(function(){
                        location.reload()
                      }, 2000);
                    } else {
                      swal({
                        title: 'Tài khoản chưa xác thực vui lòng check mail!',
                        /* text: 'Redirecting...', */
                        icon: 'error',
                        timer: 3000,
                        buttons: true,
                        type: 'error'
                      })
                    }
                  },
                  error: function (err) {
                    alert(err);
                  }
                }
        )
      }

    }
    function register(){
      var password = $('#password').val();
      var rePassword = $('#rePassword').val();
      var email = $('#email').val();
      var fullName = $('#fullName').val();
      var phoneNumber = $('#phoneNumber').val();
      if (password == '' || rePassword == '' || email == '' || fullName == '' || phoneNumber == ''){
        swal({
          title: 'Cần điền đầy đủ thông tin!',
          /* text: 'Redirecting...', */
          icon: 'error',
          timer: 3000,
          buttons: true,
          type: 'error'
        })
      } else {
        if (password !== rePassword){
          swal({
            title: 'Hai mật khẩu không trùng khớp!',
            /* text: 'Redirecting...', */
            icon: 'error',
            timer: 3000,
            buttons: true,
            type: 'error'
          })
        } else {
          var formData = new FormData();
          formData.append('password', password);
          formData.append('email', email);
          formData.append('fullName', fullName);
          formData.append('phoneNumber', phoneNumber);
          formData.append('rePassword', rePassword);
          $.ajax(
                  {
                    type: 'POST',
                    url: '/public/user/register/',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                      if(data == "exist"){
                        swal({
                          title: 'Email đã tồn tại!',
                          /* text: 'Redirecting...', */
                          icon: 'error',
                          timer: 3000,
                          buttons: true,
                          type: 'error'
                        })
                      }else if(data == "true"){
                        swal({
                          title: 'Đăng kí thành công!',
                          /* text: 'Redirecting...', */
                          icon: 'success',
                          timer: 5000,
                          buttons: true,
                          type: 'success'
                        })
                        $('#err').val("");
                      }
                    },
                    error: function (err) {
                      alert(err);
                    }
                  }
          )
        }
      }

    }
  </script>
</head>

<body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/624457ad2abe5b455fc2656d/1fvdfcvl1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
<!-- code cho nut like share facebook  -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0"></script>

<!-- header -->
<nav th:replace="public/fragments :: html_nav" class="navbar navbar-expand-md bg-white navbar-light">

</nav>


<!-- form dang ky khi click vao button tren header-->
<div th:replace="public/fragments :: html_register" class="modal fade mt-5" id="formdangky" data-backdrop="static" tabindex="-1" aria-labelledby="dangky_tieude"
     aria-hidden="true">

</div>

<!-- form dang nhap khi click vao button tren header-->
<div th:replace="public/fragments :: html_login" class="modal fade mt-5" id="formdangnhap" data-backdrop="static" tabindex="-1"
     aria-labelledby="dangnhap_tieude" aria-hidden="true">

</div>
<div th:if="${user_login}" >
  <script>
    swal({
      title: 'Bạn cần phải đăng nhập',
      /* text: 'Redirecting...', */
      icon: 'error',
      timer: 3000,
      buttons: true,
      type: 'error'
    })
  </script>
</div>
<div th:if="${success}" >
  <script>
    swal({
      title: 'Thành công',
      /* text: 'Redirecting...', */
      icon: 'success',
      timer: 3000,
      buttons: true,
      type: 'success'
    })
  </script>
</div>
<!-- thanh "danh muc sach" đã được ẩn bên trong + hotline + ho tro truc tuyen -->
<section  class="duoinavbar">
  <div class="container text-white">
    <div class="row justify">
      <div class="col-lg-3 col-md-5">
        <div class="categoryheader">
          <div class="noidungheader text-white">
            <i class="fa fa-bars"></i>
            <span class="text-uppercase font-weight-bold ml-1">Danh mục thiết bị</span>
          </div>
          <!-- CATEGORIES -->
          <div class="categorycontent">
            <ul>
              <th:block th:each="category,index : ${categories}">
                <li th:if="${category.parentId == 0}"> <a th:href="'/public/product/'+${category.id}" th:text="${category.name}"></a><i class="fa fa-chevron-right float-right"></i>
                  <ul>
                    <li class="liheader"><a href="#" class="header text-uppercase" th:text="${category.name}"></a></li>
                    <div class="content trai">
                      <th:block th:each="category1,index1 : ${categories}">
                        <li th:if="${category.id == category1.parentId}"><a th:text="${category1.name}" th:href="'/public/product/'+${category1.id}"></a></li>
                        <th:block/>
                    </div>
                  </ul>
                </li>
                <th:block/>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 ml-auto contact d-none d-md-block">
        <div class="benphai float-right">
          <div class="hotline">
            <i class="fa fa-phone"></i>
            <span>Hotline:<b>1900 1999</b> </span>
          </div>
          <i class="fas fa-comments-dollar"></i>
          <a href="#">Hỗ trợ trực tuyến </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- breadcrumb  -->
<section class="breadcrumbbar">
  <div class="container">
    <ol class="breadcrumb mb-0 p-0 bg-transparent">
      <li class="breadcrumb-item"><a href="/public/home">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/public/user/order" >Lịch sử đặt hàng</a></li>
      <li class="breadcrumb-item active"><a href="#" >Chi tiết đơn hàng</a></li>
    </ol>
  </div>
</section>
<section class="content my-3 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="">
          <label  class="col-form-label">Mã đơn hàng:</label>
          <input type="text" name="name" th:value="${order.id}" readonly class="form-control" >
        </div>
        <div class="">
          <label  class="col-form-label">Ngày đặt hàng:</label>
          <input type="text" name="price" th:value="${order.orderDate}" readonly class="form-control" >
        </div>
        <div class="">
          <label  class="col-form-label">Tổng tiền:</label>
          <input type="text" name="quantity" th:value="${#numbers.formatCurrency(order.amount)}" readonly class="form-control" >
        </div>
        <div class="">
          <label  class="col-form-label">Trạng thái:</label>
          <input type="text" name="quantity" th:if="${order.status == 0}" value="Đã hủy" readonly class="form-control" >
          <input type="text" name="quantity" th:if="${order.status == 1}" value="Đang xử lý" readonly class="form-control" >
          <input type="text" name="quantity" th:if="${order.status == 2}" value="Đang giao hàng" readonly class="form-control" >
          <input type="text" name="quantity" th:if="${order.status == 3}" value="Đã giao hàng" readonly class="form-control" >
        </div>
      </div>
      <div class="col-6">
        <div class="">
          <label  class="col-form-label">Khách hàng:</label>
          <input type="text" name="name" th:value="${order.user.fullName}" class="form-control" readonly>
        </div>
        <div class="">
          <label  class="col-form-label">Số điện thoại:</label>
          <input type="text" name="price" th:value="${order.phoneNumber}" class="form-control" readonly>
        </div>
        <div class="">
          <label  class="col-form-label">Địa chỉ:</label>
          <input type="text" name="quantity" th:value="${order.address}" class="form-control" readonly>
        </div>
        <div class="">
          <label  class="col-form-label">Ghi chú:</label>
          <input type="text" name="quantity" th:value="${order.description}" class="form-control" readonly>
        </div>
      </div>
    </div>
    <table class="table" style="margin-bottom: 100px;margin-top: 20px">
      <thead class="thead-light">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Sản phẩm</th>
        <th scope="col">Giá</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Thành tiền</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="category,index : ${list}">
        <tr>
          <td th:text="${index.index +1}"></td>
          <td ><img style="width: 150px; height: 100px" th:src="'/resources/uploads/' + ${category.product.image}"></td>
          <td th:text="${category.product.name}"></td>
          <td th:text="${#numbers.formatCurrency(category.unitPrice)}"></td>
          <td th:text="${#numbers.formatInteger(category.discount,1)}"></td>
          <td th:text="${#numbers.formatCurrency(category.discount * category.unitPrice)}"></td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <!-- het container  -->
</section>
<!-- het khoi content  -->

<!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->

<!-- het .abovefooter  -->

<!-- footer  -->
<footer th:replace="public/fragments :: footer">

</footer>

<!-- nut cuon len dau trang -->
<div class="fixed-bottom">
  <div class="btn btn-warning float-right rounded-circle nutcuonlen" id="backtotop" href="#" style="background:#CF111A;"><i
          class="fa fa-chevron-up text-white"></i></div>
</div>


</body>

</html>